In [ ]:
#W6A1
a = list(map(int,input().split()))
ans = []
for i in a :
  if i not in ans:
    ans.append(i)
print(ans)

1 2 3 4 4 4 4 4 4 5
[1, 2, 3, 4, 5]

In [ ]:
#W6A2
a = list(map(int,input().split()))
ans = [0]*len(a)
ans[0] = a[0]
for i in range(1,len(a)) :
  ans[i] = ans[i-1] + a[i]
print(ans)

1 2 3 4
1 3 6 10

In [ ]:
#W6A3
t = tuple(map(int, input().split()))
k = int(input())
r = t[k:] + t[0:k]

print(r)

1 2 3 4 5
2
(3, 4, 5, 1, 2)

In [ ]:
#W6A4
pairs = input().split()
d = {}
for p in pairs:
    key, value = p.split(':')
    if key not in d:
        d[key] = []
    d[key].append(value)

print(d)

In [ ]:
#w6a5

a = list(map(int,input().split()))
d = {
    'positives': 0 , 'negatives': 0 , 'zeros': 0
}
for i in a :
  if i > 0 :
    d['positives'] += 1
  elif i < 0 :
    d['negatives'] += 1
  else :
    d['zeros'] += 1
print(d)

1 1 1 -1 01 01 0
{'positives': 5, 'negatives': 1, 'zeros': 1}

In [ ]:
#W6a6
a = list(map(int,input().split()))
sum = 0
for i in a :
  sum += i
print(sum)

1 2 3 4
10

In [ ]:
#W6a7
t = tuple(map(int, input().split()))
print(t[0])
k = len(t) - 1
print(t[k])
for i in range(len(t)-1, -1, -1):
    print(t[i], end=' ')

1 2 3 4
1
4
4 3 2 1

In [ ]:
#w6a8
a = input().split()
d = {}

for s in a:
    if s not in d:
        d[s] = 1
    else:
        d[s] += 1

print(d)

a a v b x
{'a': 2, 'v': 1, 'b': 1, 'x': 1}

In [ ]:
#w6a9
def nhap_dict():
    d = {}
    pairs = input().split()
    for p in pairs:
        k, v = p.split(':')
        d[k] = int(v)
    return d

d1 = nhap_dict()
d2 = nhap_dict()
d3 = {}

for k in d1:
    d3[k] = d1[k]

for k in d2:
    if k in d3:
        d3[k] += d2[k]
    else:
        d3[k] = d2[k]

for k in sorted(d3):
    print(k, d3[k])

In [ ]:
#w6a10

In [ ]:
#w6a11
t = tuple(map(int, input().split()))

odd = []
even = []

for x in t:
    if x % 2 == 0:
        even.append(x)
    else:
        odd.append(x)

t1 = tuple(odd)
t2 = tuple(even)

print(t1)
print(t2)

1 2 3 4 5 6 7
(1, 3, 5, 7)
(2, 4, 6)

In [ ]:
#w6a12
a = list(map(int,input().split()))
cnt = [0]*len(a)
for i in a :
  cnt[i] += 1
k = max(cnt)
for i in range(len(cnt)):
  if cnt[i] == k :
    print(i, end=' ')
    break

1 2 2 2 3 4 5
2

In [ ]:
#w6a13
pairs = input().split()
d = {}
for i in pairs :
  k , v = i.split(':')
  d[k] = v

dr = {}
for k, v in d.items() :
  dr[v] = k
print(dr)

a:2 b:3
{'2': 'a', '3': 'b'}

In [ ]:
#w6a14
a = list(map(int,input().split()))
b = list(map(int,input().split()))
ans = []
for i in a :
  if i in b :
    ans.append(i)
print(ans)

1 2 3 4 5 6
1 097 43 2 4
[1, 2, 4]

In [ ]:
#w6a15
pairs = input().split()
scores = int(input())
d = {}
ans = {}

for p in pairs:
    k, v = p.split(':')
    d[k] = int(v)

for k, v in d.items():
    if v > scores:
        ans[k] = v

print(ans)