In [2]:
#W2A3
a, b = map(int, input("nhap so: " ).split())

tong = a + b
hieu = a - b
tich = a * b
phan_nguyen = a // b
phan_du = a % b
chia_thuc = round(a / b, 2)

print(tong, hieu, tich, phan_nguyen, phan_du, chia_thuc)

nhap so: 3 4
7 -1 12 0 3 0.75

In [ ]:
#W2A4
a1, b1, c1, a2, b2, a3 = map(float, input().split())
tb = ((a1 + b1 + c1) + (a2 + b2) * 2 + a3 * 3) / 10
print(round(tb, 1))

In [ ]:
#W2A5
a, b = map(int, input("nhap so: ").split())
print(a ** b)

In [ ]:
#W2A7
a = ((13 ** 2) * 3) + 5
b = 13 ** 2 * 3 + 5
print(a, b)

In [3]:
#W2A8
C = float(input("Độ C: "))
F = 9/5 * C + 32
print("Độ F: ",round(F, 2))

Độ C: 36
Độ F:  96.8

In [6]:
#W2A9
x = float(input())
gia = x + 10
gia += gia * 0.3
gia += gia * 0.1
print(f"{gia:.2f}")

10
28.60

In [ ]:
#W2A11
h, m = map(int, input().split())
seconds = h * 3600 + m * 60
print(seconds)

In [ ]:
#W2A12
n = int(input())
print(6 * n * n)

In [ ]:
#W2A13
a, b = map(int, input().split())
print((a * b) % 10)

In [ ]:
#W2A14
a, b = map(int, input().split())
a, b = b, a
print(a, b)

In [7]:
#W2A15
n = int(input())
print(3 * n * (n - 1) + 1)

6
91